<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
        <link href="{{ url_for('static', filename='shuffler.css') }}" rel='stylesheet' type='text/css'/>
        <title>ToDoist Shuffler App</title>
    </head>
    <body>
        <header>
            <h1>Todoist Shuffler</h1>

        </header>
        <main>
            <form method="POST">
                {{ template_form.hidden_tag() }}
                <div>
                    {{ template_form.dueDateFilter.label }}
                    {{ template_form.dueDateFilter() }}
                </div>
                <div class="selectlists">
                    <div class="flexcolumn">
                        {{ template_form.projectFilter.label }}
                        {{ template_form.projectFilter() }}
                    </div>
                    <div class="flexcolumn">
                        {{ template_form.labelFilter.label }}
                        {{ template_form.labelFilter() }}
                    </div>
                </div>
                {{ template_form.randomTask() }}
            </form>
            
            {% if taskCount %}
            <ul id="tasklist">
                <li class="task">
                    <!--Task Checkbox-->
                    <input type="checkbox" name="complete">

                    <!--Task Name-->
                    <p>{{ randomTask.content }}</p>

                    <!--Task Project-->
                    <div class="factoid {{ projectColor }}">{{ projectName }}</div>
                    
                    <!--Task Priority-->
                    {% if randomTask.priority == 4 %}
                        <div class="p1 factoid">P1</div>
                    {% elif randomTask.priority == 3 %}
                        <div class="p2 factoid">P2</div>
                    {% elif randomTask.priority == 2 %}
                        <div class="p3 factoid">P3</div>
                    {% else %}
                        <div class="p4 factoid">P4</div>
                    {% endif %}

                    <!--Task Labels-->
<!--                     {% for label in randomTask.labels %}
                        <div class="factoid"> {{ label }} </div>
                    {% endfor %} -->

                </li>
            </ul>
            {% endif %}
        </main>
        <footer>
            {% if taskCount %}
                <p> Randomly selected from <span>{{ taskCount }} tasks</span> using the filter:<br> <span>{{ taskFilterText }}</span></p>
            {% endif %}
        </footer>
    </body>