<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}" />
        <link href="{{ url_for('static', filename='shuffler.css') }}" rel='stylesheet' type='text/css'/>
        <title>ToDoist Shuffler App</title>
    </head>
    <body>
        <header>
            <h1>Todoist Shuffler</h1>

        </header>
        <main>
            <form method="POST">
                {{ template_form.hidden_tag() }}
                <div>
                    {{ template_form.dueDateFilter.label }}
                    {{ template_form.dueDateFilter() }}
                </div>
                <div>
                    {{ template_form.projectFilter.label }}
                    {{ template_form.projectFilter() }}
                </div>
                <div>
                    {{ template_form.labelFilter.label }}
                    {{ template_form.labelFilter() }}
                </div>
                {{ template_form.randomTask() }}
            </form>

            <ul id="todaylist">
                <li class="task">{{ randomTask.content }}</li>
            </ul>

            <section>
                {% if taskCount %}
                    <p> Randomly selected from <span>{{ taskCount }} tasks</span> using the filter:<br> <span>{{ taskFilterText }}</span></p>
                {% endif %}
            </section>
        </main>
        <footer>

        </footer>
    </body>